<h1>Show Request</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @request.name %>
  </li>

  <li>
    <strong>Date:</strong>
    <%= @request.date %>
  </li>

  <li>
    <strong>Approval:</strong>
    <%= @request.approval %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.request_path(@conn, :edit, @request) %></span>
<span><%= link "Back", to: Routes.request_path(@conn, :index) %></span>

