<h1>New Task</h1>
<%= link("Logout", to: Routes.session_path(@conn, :delete),
            method: :delete) %>
<%= render "form.html", Map.put(assigns, :action, Routes.task_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.task_path(@conn, :index) %></span>
